body {
  margin: 0;
  padding: 0;
}
#fancybox-overlay {
  display: none !important;
}
#challenge_form,
#pledge_form {
  padding: 30px 40px;
}
#challenge_form h2,
#pledge_form h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-family: arial;
}
.rg-outer {
  background-color: #494745;
  padding: 10px;
  overflow: hidden;
  zoom: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: #494745;
  width: 920px;
}

.uiBoxYellow {
  display: none !important;
}
#interval_wrapper {
  padding: 10px;
}
a {
  color: #00B7FF;
}

svg.thermo {
  width: 640px;
  height: 60px;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

svg.calendar {
    height: 200px;
    width: 600px;
}

svg {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

.rg-content-primary {
  position: relative;
}

.calendar_legend ul {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 5px 0 0 80px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.calendar_legend ul li:first {
  margin-left: 30px;
}
.calendar_legend ul li {
  float: left;
  font-size: 12px;
  line-height: 20px;
  margin-left: 10px;
}

.calendar_legend .legend_today:before{
  content: " ";
  display: block;
  width: 20px;
  margin-right: 3px;
  height: 20px;
  float: left;
  background-color: #FFBF53;
}

.calendar_legend .legend_miss:before{
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  float: left;
  background-color: rgba(100,100,100,0.33);
}

.calendar_legend .legend_potential:before{
  content: " ";
  display: block;
  margin-right: 3px;
  border: 1px solid rgba(203, 203, 203, .1);
  width: 20px;
  height: 20px;
  float: left;
  background-color: #DFDFDF;
}

.calendar_legend .legend_success:before{
  content: " ";
  display: block;
  width: 20px;
  margin-right: 3px;
  height: 20px;
  float: left;
  background-color: rgba(125,192,79,1);
}
.rg-header-summary {
  padding: 10px 0;
}
.rg-header-primary {
  float: left;
  width: 75%;
}
.rg-header-summary {
  color: #FFF;
}
.rg-header-actions {
  float: right;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.rg-header-actions li {
  margin-bottom: 10px;
}
.rg-button-primary,
.rg-button-secondary {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  -o-transition: all linear .1s;
  transition: all linear .1s;
}
.rg-button-primary {
  background-color: #FFBF53;
  font-weight: bold;
  text-shadow: 0 1px rgba(255,255,255,.7);
  -webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
  -o-box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
  box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
}
.rg-button-primary:hover,
.rg-button-primary:active {
  -webkit-box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
  -o-box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
  box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
}
.rg-button-secondary {
  background-color: #8E8874;
  font-size: 14px;
  text-shadow: 0 1px rgba(255,255,255,.5);
  -webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
  -o-box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
  box-shadow: inset 0 20px 20px rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.3), inset 0 1px 0 #FFF;
}
.rg-button-secondary:hover,
.rg-button-secondary:active {
  -webkit-box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
  -o-box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
  box-shadow: inset 0 20px 20px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(0,0,0,.5);
}
.rg-header-endorsers {
  clear: both;
  margin: 10px 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  zoom: 1;
}
.rg-header-endorsers li {
  background-color: #FFF;
  display: inline;
  float: left;
  margin-right: 1px;
  padding: 4px;
}
.rg-header-endorsers dt {
  display: none;
}
.rg-header-endorsers dl,
.rg-header-endorsers dd {
  margin: 0;
  height: 30px;
  float: left;
}
.rg-header-endorsers dd {
  width: 30px;
  text-align: center;
}
.rg-header-endorsers dd.rg-header-endorsers-pledge {
  padding: 7px 0;
  font-size: 13px;
}
.rg-header-endorsers img {
  max-width: 100%;
}
.rg-content {
  clear: both;
  background-color: #FFF;
  overflow: hidden;
  zoom: 1;
}
.rg-content-primary {
  float: left;
  width: 60%;
  min-height: 425px;
  background-color: #DDDDCF;
}
.rg-content-secondary {
  float: left;
  width: 40%;
}
.rg-content-primary-stats {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #F0EFE9;
  overflow: hidden;
  zoom: 1;
}
.rg-content-primary-stats li {
  float: left;
  width: 33%;
  text-align: center;
  padding: 15px 0;
  text-shadow: 0 1px #FFF;
  border-right: 1px solid #CCC;
  -webkit-box-shadow: 1px 0 0 #FFF;
  -moz-box-shadow: 1px 0 0 #FFF;
  -o-box-shadow: 1px 0 0 #FFF;
  box-shadow: 1px 0 0 #FFF;
}
.rg-content-primary-stats li:last-child {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.rg-content-primary-stats dl,
.rg-content-primary-stats dd {
  margin: 0;
}
.rg-content-primary-stats dl {
  padding: 30px 0 14px;
}
.rg-content-primary-stats dd {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  margin-top: -40px;
}
.rg-content-primary-stats dt {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}
.rg-form-fieldgroup {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #494745;
}
.rg-form-fieldgroup input {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}
.rg-form-fieldgroup input.rg-button-primary {
  width: 60%;
  padding: 15px 0;
  margin: 0 auto;
}
.rg-form-fieldgroup input[type="text"] {
  border: 1px solid #CCC;
  padding: 6px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #F0EFE9;
}
.rg-form-fieldgroup input[type="text"]:focus {
  outline: none;
  border-color: #494745;
  background-color: #FFF9D7;
}
.rg-form-fieldgroup input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}
.rg-form-fieldgroup ul {
  padding: 0;
}
.rg-form-fieldgroup li {
  clear: both;
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid #DDD;
  overflow: hidden;
  zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 0 #FFF;
  -o-box-shadow: inset 0 1px 0 #FFF;
  box-shadow: inset 0 1px 0 #FFF;
}
.rg-form-fieldgroup li:first-child,
.rg-form-fieldgroup li.rg-form-text-double {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.rg-form-fieldgroup li.rg-form-actions {
  border: none;
}
.rg-form-fieldgroup li.rg-form-text-double {
  clear: none;
  float: left;
  width: 50%;
}
.rg-form-fieldgroup li.rg-form-text-double label {
  width: 50%;
}
.rg-form-fieldgroup li.rg-form-text-double input {
  width: 25%;
}
.rg-form-fieldgroup li ul li {
  display: inline;
  float: left;
  clear: none;
  border: none;
  padding: 0;
  margin-right: 10px;
}
.rg-form-text label,
.rg-form-field-label {
  float: left;
  width: 25%;
  padding: 10px 0;
}
.rg-form-text input {
  float: left;
  width: 50%;
}
#rg-form-field-duration {
  float: left;
}
#rg-form-field-duration label {
  padding: 10px;
  border: 1px solid #CCC;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#rg-form-field-duration input {
  display: none;
}
#rg-form-field-challenge {
  display: block;
  margin-top: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.rg-duration-selected label {
  background-color: #FFBF53;
}
.fb-like,
.fb-comments {
  display: block !important;
  width: 340px;
  margin: 14px auto;
}
