<div class="rg-outer">
  <div class="rg-header">
    <div class="rg-header-primary">
      <div class="rg-header-summary">4 people have pledged $8 if Mark doesn't smoke today.</div>
      <ul class="rg-header-endorsers">
        <li>
          <dl>
            <dt>Alex Sexton</dt>
            <dd class="rg-header-endorsers-avi"><img src="img/slex.jpg" alt="" /></dd>
            <dd class="rg-header-endorsers-pledge">$<b>2</b></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Mark DiMarco</dt>
            <dd class="rg-header-endorsers-avi"><img src="img/mark.jpg" alt="" /></dd>
            <dd class="rg-header-endorsers-pledge">$<b>2</b></dd>
          </dl>
        </li>
      </ul>
    </div>
    <ul class="rg-header-actions">
      <li><a class="rg-button-primary" href="#">Make a Pledge</a></li>
      <li><a class="rg-button-secondary" href="#">Start your own challenge</a></li>
    </ul>
  </div><!-- end rg-header -->
  <div class="rg-content">
    <div class="rg-content-primary">
      <ul class="rg-content-primary-stats">
        <li>
          <dl>
            <dt>Raised</dt>
            <dd>${{amount_raised}}</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Days to Go</dt>
            <dd>47</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Potential</dt>
            <dd>$867</dd>
          </dl>
        </li>
      </ul>
      <div class="rg-content-primary-viz">
        <!-- raphael viz goes here -->
      </div>
    </div>
    <div class="rg-content-secondary">
      <!-- fb comments go here -->
    </div>
  </div><!-- end rg-content -->
</div><!-- end rg-outer -->
