<link rel="stylesheet" href="/stylesheets/jquery-ui.css"/>
<script>
  window.rhokgoh = window.rhokgoh || {};
  window.rhokgoh.options = {{{options}}};
</script>
<script src="/scripts{{#if built}}-build{{/if}}/require.js" data-main="/scripts{{#if built}}-build{{/if}}/form.js"></script>
<form id="pledge_form" target="" action="" onsubmit="return false;" method="POST" novalidate="novalidate">
  <input type="hidden" name="access_token" value="{{access_token}}"/>
  <h2>Make a Pledge</h2>
  <ul class="rg-form-fieldgroup">
    <li class="rg-form-text rg-form-text-double">
      <label for="rg-form-field-pledge-amount">Amount per day:</label>
      <input id="rg-form-field-pledge-amount" type="text" name="amount" placeholder="$1">
    </li>
    <li class="rg-form-text rg-form-text-double">
      <label for="rg-form-field-pledge-amount-total">Total <em>(potential)</em>:</label>
      <input id="rg-form-field-pledge-amount-total" type="text" name="total" placeholder="$90">
    </li>
    <li class="rg-form-text">
      <label for="rg-form-field-reminder-pledge-email">Email address:</label>
      <input id="rg-form-field-reminder-pledge-email" type="text" name="email" placeholder="Example: mark@hotmale.com">
    </li>
    <li>
      <input id="rg-form-field-pledge-anon" type="checkbox" name="anonymous">
      <label for="rg-form-field-pledge-anon">Make my donation anonymous</label>
    </li>
    <li>
      <input id="rg-form-field-pledge-reminder" type="checkbox" name="reminder">
      <label for="rg-form-field-pledge-reminder">Send me updates via text message</label>
    </li>
    <li class="rg-form-text">
      <label for="rg-form-field-pledge-reminder-phone">Phone #:</label>
      <input id="rg-form-field-pledge-reminder-phone" type="text" name="phone" placeholder="999-999-9999">
    </li>
    <li class="rg-form-actions">
      <input class="rg-button-primary" id="rg-form-actions-pledge-submit" type="submit" name="submit" value="Submit">
    </li>
  </ul>
</form>
